.auth_form_container,
.login_form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth_form_container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

.auth_form_container label {
  text-align: left;
  padding: 0.25rem 0;
}

.auth_form_container input {
  margin: 0.5rem 0rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.auth_form_container input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Add a shadow for emphasis */
  outline: none;
}

.login {
  border: none;
  background-color: rgb(55, 40, 189);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: 1px solid rgb(55, 40, 189);
}

.login:hover {
  background-color: transparent;
  color: rgb(55, 40, 189);
}

.error_text {
  background: rgba(241, 65, 65, 0.895);
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 5px;
}

.link_btn {
  background: none;
  color: white;
  text-decoration: underline;
  padding: 0px;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.link_btn:hover {
  color: rgb(17, 128, 232);
}

